################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataImportTool/FarmsMarketXMLReader/obj
/DataImportTool/FarmsMarketXMLReader/bin/Debug/net6.0
